body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
    width: 100vw;
    height: 100vh;
    background-color: #333
}

button:disabled {
    color: grey
}

.container {
    width: 600px;
    max-width: 80%;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: white;
    border: 1px solid white;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btnSmall {
    background-color: white;
    border: 1px solid white;
    padding: 1px 10px;
    color: black;
    outline: none;
}

.btnSmall:hover {
    border-color: black
}

.btn:hover {
    border-color: black;
}